html {
  box-sizing: border-box;
}

*,*::before,*:after{
  box-sizing: inherit;
  background-color: #010101;
}

html , body , root{
  height: 100%;
}

/* styles.css */

::-webkit-scrollbar {
  width: 12px; /* Width of the scroll bar */
  height: 12px; /* Height of the horizontal scroll bar */
}

::-webkit-scrollbar-track {
  background: #111; /* Background of the scroll bar track */
}

::-webkit-scrollbar-thumb {
  background: #afafaf; /* Scroll bar handle */
  border-radius: 3px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #333; /* Hover effect for scroll bar handle */
}
